.form-text {
  color: red !important;
}
.card-bg {
  background: #f9fcfe;
}
.title {
  color: #0a3454;
}
.details {
  text-align: justify;
}
.book-btn {
  background: #0a3454;
  color: white;
}
.cart-image {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin: auto;
  margin-top: 15px;
}
.cart-table {
  overflow-x: auto !important;
}
/* checkout form */
.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.pay {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #474547;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #474547;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

.pay:active {
  background-color: #d9c282;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #d9c282;
  transform: scale(0.99);
}

.payment-heading {
  color: #0a3454;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.payment-user {
  color: #0a3454;
  font-weight: bold;
}
