.form-text {
  color: red !important;
}
.card-bg {
  background: #f9fcfe;
}
.title {
  color: #0a3454;
}
.details {
  text-align: justify;
}
.book-btn {
  background: #0a3454;
  color: white;
}
.cart-image {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin: auto;
  margin-top: 15px;
}
